/*stylesheet*/


/*main tag styles*/

body {
    font-family: 'Roboto', sans-serif;
    /*background-color: #f8f8f8;*/
    background-image: linear-gradient(to right, #a6ecdf, #f8f8f8);
}

header {
    margin: 0 5% 2.5% 5%;
    background-color: #28a745;
    padding-bottom: 0.5rem;
}

footer {
    bottom: 0;
    padding-top: 0.5rem;
    margin-top: 2%;
    background-color: white;
}

ul {
    list-style-type: none;
}

li {
    padding: 0.5rem;
}

a {
    color: black;
}

a:hover {
    color: #676767;
}

hr {
    background-color: rgba(70, 206, 215, 0.89);
}


/*ID styles*/

#header-content {
    background-color: white;
}

#top-nav {
    padding-bottom: 20px;
}

#disclaimer {
    text-align: center;
    padding: 20px 15px 30px 30px;
    margin-top: -15px;
}

#disclaimer-text {
    font-weight: bold;
}

#gr-tech-image {
    height: 40px;
    width: 40px;
}

#top-nav, #header-content {
    margin: 0 -15px -8px;
}


#color-band {
    margin-top: -8px;
}


/*class styles*/

.box-shadows {
    box-shadow: 0 0 12px 1px rgb(81 102 122);
}

.box-shadows2 {
    box-shadow: 0 0 12px 1px rgb(132 161 189);
}

.color-band {
    background-color: #28a745;
}

.footer-copyright {
    margin: 10px -15px 0;
    background-color: rgba(0,0,0,.2);
}

.spacing-header {
    padding: 1rem;
}

.navbar-brand {
    padding-left: 10px;
}

.footer-links {
    text-align: left;
}

.li-margin {
    margin-left: -20px;
    margin-top: 20px;
}

.h2-style {
    padding-left: 20px;
    color: #343434;
    font-size: 2rem;
}

.pad-q-and-a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-li {
    padding: 1rem 0 0 0;
    background-image: linear-gradient(to right, #65be4e, #c9efc1);
    /*border-radius: 0 0 15px 15px;*/
}

.question {
    font-weight: bold;
}

.reposition {
    padding-left: 0;
    padding-right: 16px;
}

.card-header {
    background-image: linear-gradient(to right, #65be4e, #c9efc1);
    border: none;
}

.card {
    border: none;

}

.card-header:first-child {
    border-radius: 0 0 0 0;
}

.accordion>.card:first-child {
    border-radius: 0;
}

.accordion>.card:last-of-type {
    border-radius: 0 0 15px 15px;
}

.btn-link:hover {
    color: rgba(11, 46, 19, 0.57);
}






