@charset "utf-8";
/* Kevin Price for SDEV305 GreenRiverGuiltyGibbons */
/* Sprint 1 for GRTech FAQ */
/* October 14, 2021 */
/* ############################################################ */
/*  bootstrap equivalent mobile to tablet col-, col-sm, col-md  */
@media screen and (max-width: 991px) {
    /* hover fades show no change on tablet and mobile */
    /* this must be exactly the same as #button_question */
    .all-buttons:hover, #message-sent:hover {
        box-shadow: 0px 2px 3px 1px rgba(139, 129, 140, 0.2);
        color: rgb(33, 37, 41);
        background-color: rgb(162, 219, 238);
    }
}
