:root {
    --bs-light-rgb: 122, 255, 181;
}


/*MAIN STYLES*/

body {
    font-family: Inter, sans-serif;
    /*background-color: #fcffff;*/
    background-image: linear-gradient(180deg, rgba(255,255,255,0), white),linear-gradient(70deg, #ebfff3 50%, #fff8ea);
}

hr {
    background-color: rgba(49, 156, 164, 0.89);
}

footer {
    background-image: linear-gradient(0deg, rgb(122, 255, 184) 99.5%, rgb(119, 215, 181));
    box-shadow: 0 -.15rem .5rem rgba(0,0,0,.09);

}

a {
    color: #343434;
}

a:hover {
    color: #565656;
}

/*CLASS STYLES*/


.bg-light {
    background-color: #1e7e34;
}

.card-body {
    background-color:#FFD8B2;
    /*don't think this does anything, might strip*/
}

.accordion {
    margin-top:25px;
    margin-bottom:25px;
}

.accordion-header {
    background-color: #f5fff7;
}

.h2 {
    background-color: #f5fff7;
}

.accordion a {
    overflow-wrap: break-word;
}


.accordion-button {
    /*background-color: #f5fff7;*/
    background-color: #c9fde0;
}

.accordion-body {
    background-image: linear-gradient(195deg, #fef7e5 75%, rgba(254, 247, 229,0.2));
}

.accordion-button:not(.collapsed) {
    color:black;
    background-color: #c9fde0;
}

.box-shadows {
    box-shadow: 0 0 12px 1px rgb(81 102 122);
}

.box-shadows2 {
    box-shadow: 0 0 8px 1px rgb(132 161 189);
}

.footer-links {
    text-align: left;

}

.footer-links li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-list {
    list-style-type: none;
    padding-left: 1rem;
}

.question {
    font-weight: bold;
}

.answer {
    padding-left: 2rem;
}

.category {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    margin-right: 0;
}

.card {
    max-width: 400px;
    background-color: #dadada;
    padding: 60px 40px 40px;
    margin: 50px auto 25px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.card2 {
    max-width: 800px;
}

.btn-admin {
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgb(134, 203, 231);
}

.search-text {
    font-size: smaller;
}

.toast {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    font-size: larger;
}


/*ID STYLES*/

#catNew {
    display: none;
}

#disclaimer {
    text-align: center;
    padding: 1rem;
}

#disclaimer-text {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

#spacer {
    margin-right: auto;
    margin-left: auto;
}

#adminLogin {
    margin: 2rem auto auto auto;
}

/* Paperclips */

.paperClips {
    /* search results and index version */
    cursor: pointer;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.paperClips-sr {
    /* search results version only */
    position: absolute;
    left: -40px;
    top: 14px;
}

.paperClips-ind {
    /* index results version only */
    position: absolute;
    left: -62px;
    top: -1px;
    z-index: 3;
}

.headers-relative-pos {
    position: relative;
}

#missing-question-id {
    font-weight: bold;
}

/* add some margin to even out the faq */
.search-margin-even {
    margin-left: 73px;
}

/* mod width and margin of search in desktop to center title and nav links in desktop */
/* prevents scruntching the  nav links */
@media screen and (min-width: 767px) and (max-width: 1000px) {
    .navbar-toggler {
        margin-left: 150px;
    }

    .search-width {
        width: 190px;
        margin-left: -10px;
    }
    .navbar-brand {
        margin-right: -20px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1040px) {
    .search-width {
        width: 200px;
        margin-left: -10px;
    }
    .navbar-brand {
        margin-right: -20px;
    }
}

@media screen and (min-width: 1040px) and (max-width: 1090px) {
    .search-width {
        width: 225px;
        margin-left: -10px;
    }
    .navbar-brand {
        margin-right: -10px;
    }
}

@media screen and (min-width: 1090px) and (max-width: 1185px) {
    .search-width {
        width: 265px;
        margin-left: -50px;
    }
}

@media screen and (min-width: 1185px) and (max-width: 1220px) {
    .search-width {
        width: 295px;
        margin-left: -90px;
    }
}

@media screen and (min-width: 1220px) {
    .search-width {
        margin-left: -110px;
    }
}

/* animation for paperclip clicks */
@keyframes paperClipClicked {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
.paperClipsAnim {
    animation: paperClipClicked  0.3s forwards ease-in-out;
}

/* ########################## */
@media screen and (max-width: 370px) {
    /* .accordion-item */
    .accordion {
        width: 315px;
    }
}

@media screen and (min-width: 370px) and (max-width: 400px) {
    /* .accordion-item */
    .accordion {
        width: 330px;
    }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
    /* .accordion-item */
    .accordion {
        width: 360px;
    }
}
